<link rel="stylesheet" href="/filter.css">

<div class="filter-bar">
    <ul>
        <li>
            <a href="/nodeJs">NODE JS</a>
        </li>
        <li>
            <a href="/restApi">REST API</a>
        </li>
        <li>
            <a href="/reactJs">REACT JS</a>
        </li>
        <li>
            <a href="/javaScript">JavaScript</a>
        </li>
        <li>
            <a href="/html&css">HTML&CSS</a>
        </li>
    </ul>
</div>