<link rel="stylesheet" href="footer.css" type="text/css">

<script src="https://kit.fontawesome.com/a6c541db65.js" crossorigin="anonymous"></script>

<footer>
    <p>Copyright © <%= date %>. All right reserved.</p>
    <div class="footer-links">
        <ul>
            <li>
                <a href="https://github.com/HimanshuMamgai" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/himanshu-87394321a/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="https://codepen.io/HimanshuMamgain" target="_blank">
                    <i class="fab fa-codepen"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>