<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management || Node.Js</title>
    <link rel="icon" href="https://www.freeiconspng.com/thumbs/communication-icon-png/communication-wlm-blue-icon-8.png" type="image/x-icon">
    <link rel="stylesheet" href="header.css" type="text/css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <h3>Project Management</h3>
                </li>
                <div class="link-container">
                    <li>
                        <a href="/" class="home-link">Home</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/add%20projects">Add Projects</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>
</body>
</html>