<link rel="stylesheet" href="page.css">

<div class="page-from-container">
    <span class="angle-bracket"><</span>
    
    <form action="/projects/previous%20page" method="get">
        <button>
            <%= start %>
        </button>
    </form>

    <span>/</span>

    <form action="/projects/next%20page" method="get">
        <button>
            <%= end %>
        </button>
    </form>

    <span class="angle-bracket">></span>
</div>