<link rel="stylesheet" href="display.css">

<div class="card-container">
    <div class="flip-card">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="https://images.g2crowd.com/uploads/product/image/large_detail/large_detail_f0b606abb6d19089febc9faeeba5bc05/nodejs-development-services.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
            <h1 class="project-title">Blog Website</h1> 
            <a href="">GitHub Link</a>
            <a href="">Deployed Link</a>
        </div>
        </div>
    </div>
</div>