<%- include('./partials/header') -%>

<link rel="stylesheet" href="form.css" type="text/css">

<div class="form-container">
    <form action="/signup" method="post" class="login-form">
        <h2>SignUp: to get started</h2>
        <input type="text" name="name" placeholder="Enter your name" required>
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="text" name="username" placeholder="Create a username" required>
        <input type="password" name="password" placeholder="Create a password" required>
        <button type="submit">Signup</button>
    </form>
</div>

<%- include('./partials/footer') -%>