footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #F0DB4F;
    width: 100%;
    height: 20vh;
    padding: 25px;
    margin-top: 20px;
}

footer p {
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
}

.footer-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

i {
    font-size: 2.5rem;
    color: #F0DB4F;
}