.form-container {
    width: 50%;
    margin: 40px auto;
    box-sizing: border-box;
    height: 60vh;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
}

.add-project-form, .login-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: #495C83;
    border-radius: 8px;
    padding: 40px;
}

.add-project-form input, .login-form input {
    padding: 8px 12px;
    font-size: 1.2rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}

.add-project-form button, .login-form button {
    padding: 12px 14px;
    font-weight: 700;
    background-color: #fff;
    color: #495C83;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    box-shadow: 0 1px 4px 2px #003754;
    margin: 0 30%;
    margin-top: 10px;
    cursor: pointer;
}

.signup-form {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

.signup-form button {
    padding: 15px 14px;
    font-weight: 800;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    color: #495C83;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    box-shadow: 0 1px 4px 2px #003754;
    cursor: pointer;
}

.add-project-form button:hover, .login-form button:hover, .signup-form button:hover {
    background-color: #eee;
}

.option-container {
    display: flex;
    justify-content: flex-start;
}

label {
    color: #fff;
    margin: 0 10px;
    margin-left: 0;
    font-size: 1.3rem;
    padding: 10px;
    font-weight: 800;
    padding-left: 0;
}

select {
    font-size: 1.2rem;
    padding: 5px 12px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}