.form-container {
    width: 50%;
    margin: 40px auto;
    box-sizing: border-box;
}

#err-msg {
    color: red;
    text-align: center;
    display: block;
    margin: 20px auto;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #F0DB4F;
    margin: 0;
    margin-bottom: 10px;
}

.add-project-form, .login-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: #000;
    border-radius: 8px;
    padding: 40px;
}

.add-project-form input, .login-form input {
    padding: 8px 12px;
    font-size: 1.2rem;
    background-color: #eee;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid black;
    border-radius: 5px;
}

input::placeholder {
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.add-project-form button, .login-form button {
    padding: 12px 14px;
    font-weight: 700;
    background-color: #F0DB4F;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    margin: 0 30%;
    margin-top: 10px;
    cursor: pointer;
}

.signup-form {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

.signup-form button {
    padding: 15px 14px;
    font-weight: 800;
    display: block;
    margin: 0 auto;
    background-color: #F0DB4F;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    box-shadow: 0 1px 4px 2px #000;
    cursor: pointer;
}

.add-project-form button:hover, .login-form button:hover, .signup-form button:hover {
    background-color: #eee;
    color: #000;
}

.option-container {
    display: flex;
    justify-content: flex-start;
}

label {
    color: #F0DB4F;
    margin: 0 10px;
    margin-left: 0;
    font-size: 1.3rem;
    padding: 10px;
    font-weight: 800;
    padding-left: 0;
}

select {
    font-size: 1.2rem;
    color: #F0DB4F;
    background-color: #000;
    border: 3px solid #F0DB4F;
    padding: 5px 12px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

select option{
    cursor: pointer;
    color: #F0DB4F;
}

@media  only screen and (max-width: 800px) {
    .form-container {
        width: 100%;
        height: auto;
    }
    .option-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   select {
        text-align-last: center
   }
}